@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(238, 238, 238);
  line-height: 1.5rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgray;
  height: 10vh;
}

header nav,
h2 {
  padding: 0px 1.25rem;
}

hr {
  color: lightgray;
  margin: 0;
}

main {
  width: 70%;
  margin: 10vh auto 0;
}

footer {
  padding: 1rem;
  text-align: right;
  background-color: white;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.4rem;
}

header ul {
  padding-left: 0;
  display: flex;
}

header li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.info {
  display: flex;
  background-color: white;
  padding: 1.5rem;
}

.info aside {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  margin-top: 1rem;
  margin-left: 3rem;
  padding: 1rem;
  width: 100%;
  background-color: lightcyan;
}

i {
  font-size: 3rem;
}

aside img {
  min-width: 75px;
  width: 100%;
  border-radius: 100%;
}

#caption {
  text-align: center;
}

#skills li {
  text-align: center;
}

.list-skill {
  border-radius: 1rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 0.5rem;
}
.list-skill li {
  padding: 0.75rem;
}

.images {
  display: flex;
  justify-content: space-between;
  padding: 1rem auto;
  margin: 1rem auto;
}
strong {
  display: inline-block;
  margin-bottom: 0.7rem;
}
