@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(238, 238, 238);
  line-height: 1.5rem;
  transition: color 1s linear;
  transition: background-color 1s linear;
  min-width: 450px;
}

body.black {
  background-color: rgb(17, 17, 17);
  color: white;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid lightgray;
  height: 10vh;
  transition: color 1s linear;
  transition: background-color 1s linear;
}

header.black {
  background-color: black;
  border-bottom: 1px solid gray;
}

header nav,
h2 {
  padding: 0px 1.25rem;
}

hr {
  color: lightgray;
  margin: 0;
  transition: color 1s linear;
  transition: background-color 1s linear;
}

hr.black {
  color: gray;
}

main {
  width: 70%;
  margin: 10vh auto 0;
  overflow: hidden;
}

footer {
  padding: 1rem;
  text-align: right;
  background-color: white;
  transition: color 1s linear;
  transition: background-color 1s linear;
}

footer.black {
  background-color: black;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 0.4rem;
}

header ul {
  padding-left: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

header li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s linear;
}

a:hover {
  color: rgb(107, 82, 247);
}

a:hover.black {
  color: rgb(208, 96, 252);
}

button {
  font-size: 1rem;
  color: black;
  border: 0px;
  border-radius: 1rem;
  background-color: rgb(255, 209, 150);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  transition: color 1s linear;
  transition: background-color 1s linear;
}
button.black {
  color: white;
  background-color: #77314c;
}

.info {
  display: flex;
  background-color: white;
  padding: 1.5rem 1.5rem 0 1.5rem;
  flex-direction: column;
  transition: color 1s linear;
  transition: background-color 1s linear;
}

.info.black {
  background-color: black;
}

.info aside {
  border-radius: 0.8rem;
  margin-top: 1rem;
  margin-left: 3rem;
  padding: 1rem;
  width: 100%;
  background-color: rgb(255, 219, 172);
  height: 10%;
  transition: color 1s linear;
  transition: background-color 1s linear;
}

.info.black aside {
  background-color: #77314c;
}

i {
  font-size: 3rem;
}

aside img {
  min-width: 75px;
  width: 100%;
  border-radius: 100%;
}

#caption {
  text-align: center;
}

#skills li {
  text-align: center;
}

.list-skill {
  border-radius: 1rem;
  background-color: rgb(255, 209, 150);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 0.5rem;
  transition: color 1s linear;
  transition: background-color 1s linear;
  flex-wrap: wrap;
}

.list-skill.black {
  background-color: #aa5073;
}

.list-skill li {
  padding: 0.75rem;
}

.images {
  display: flex;
  justify-content: space-around;
  padding: 1rem auto;
  margin: 1rem auto;
}
strong {
  display: inline-block;
  margin-bottom: 0.7rem;
}

#about-me {
  display: flex;
}

#first {
  float: left;
  width: 50%;
  animation: text-flow 33s infinite linear;
}

#second {
  float: left;
  width: 50%;
  animation: text-flow 33s infinite linear;
}

#third {
  width: 100%;
  animation: none;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 1rem;
  justify-items: center;
  justify-content: center;
}

#animation {
  width: 200%;
}

#animation:hover > section {
  animation-play-state: paused;
}

#projects li {
  font-size: 1.5rem;
}

.fas.fa-adjust {
  font-size: 1rem;
  padding-right: 0.5rem;
}

@media only screen and (min-width: 1800px) {
  body {
    font-size: 36px;
    line-height: 2rem;
  }
  button {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  aside {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  body {
    font-size: 14px;
  }

  #header-ul > li:last-child button {
    font-size: 0.7rem;
  }
  #animation {
    display: none;
  }
  #third {
    display: grid;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 13px;
  }
}
@keyframes text-flow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes text-flow2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
